.views-slideshow-controls-text-pause {
	display: none;
}

#block-views-new-slider-block {
	position: relative;
}

#views_slideshow_controls_text_next_new_slider-block {
	position: absolute; top:190px; z-index:100; right:10px;
}

#views_slideshow_controls_text_previous_new_slider-block {
	position: absolute; top:190px; z-index:100; left:10px;
}
